html {
    /* Load system fonts */
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
  
    /* Make type rendering look crisper */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Disable auto-enlargement of small text in Safari */
    text-size-adjust: 100%;
  
    /* Enable kerning and optional ligatures */
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    margin: 0;
    height: 832px;
    display: flex;
    flex-direction: row;
}

.desktop-no-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.desktop-has-content {
    display: none;
    flex-direction: row;
    width: 100%;
}

.left-container {
    flex: 1 1 57%;
    background: #ffffff;
    padding: 30px 62px 38px 32px;
    /* display: block; */
    box-sizing: border-box;
}

.left-container .left-container-row-1 {
    width: 273px;
    height: 33px;
    background: #F4F6F8;
    border-radius: 2px;
}

.left-container-row-2 {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
}

.left-container-row-2 .row-2-logo {
    width: 66px;
    height: 66px;
    background: #F4F6F8;
    border-radius: 2px;
}

.left-container-row-2 .row-2-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-container-row-2 .row-2-content .row-2-content-1 {
    width: 162px;
    height: 24px;
    background: #F4F6F8;
    border-radius: 2px;
}

.left-container-row-2 .row-2-content .row-2-content-2 {
    width: 99px;
    height: 24px;
    background: #F4F6F8;
    border-radius: 2px;
    margin-top: 8px;
}

.left-container-row-3 {
    margin-top: 29px;
    width: 100%;
    height: 164px;
    background: #F4F6F8;
    border-radius: 2px;
}

.left-container-row-4 {
    margin-top: 29px;
    width: 100%;
    height: 342px;
    background: #F4F6F8;
    border-radius: 2px;
}

.left-container-row-5 {
    margin-top: 45px;
    width: 174px;
    height: 33px;
    background: #F4F6F8;
    border-radius: 2px;
}

/* RIGHT */

.right-containers {
    flex: 1 1 43%;
    height: 100px;
    background: #F4F6F8;
    box-sizing: border-box;
    padding: 30px 30px 30px 40px;
}

.right-container-1-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.right-container-1-col-1 {
    display: flex;
    flex-direction: row;
}

.right-container-1-col-1 .container-1-logo {
    background: #E6E9ED;
    border-radius: 2px;
    width: 65px;
    height: 65px;
}

.right-container-1-col-1 .container-1-content {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
}

.right-container-1-row .container-1-content-1 {
    width: 103px;
    height: 24px;
    background: #E6E9ED;
    border-radius: 2px;
}

.right-container-1-row .container-1-content-2 {
    width: 60px;
    height: 24px;
    margin-top: 9px;
    background: #E6E9ED;
    border-radius: 2px;
}

.right-container-1-col-2 {
    width: 34px;
    height: 24px;
    background: #E6E9ED;
    border-radius: 2px;
}

.right-container-content-2 {
    padding-top: 25px;
}

.content-2-row-1, .content-2-row-2, .content-2-row-3, .content-2-row-4 {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    align-items: center;
}

.content-2-row-content-1 {
    width: 138px;
    height: 24px;
    background: #E6E9ED;
    border-radius: 2px;
}

.content-2-row-content-2 {
    width: 54px;
    height: 24px;
    background: #E6E9ED;
    border-radius: 2px;
}

.content-2-row-4 {
    margin-top: 5px;
}

.content-2-row-4 .content-2-row-content-2 {
    width: 54px;
    height: 37px;
}

/* HAS Content */

.desktop-has-content .left-container {
    background: #ffffff;
    /* display: block; */
    padding: 30px 95px 30px 32px;
}

.desktop-has-content .has-content-row-1 {
    width: 164px;
    height: 33px;
    background: #F4F6F8;
    border-radius: 2px;
}

.desktop-has-content .has-content-row-2 {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.desktop-has-content .has-content-row-2 div {
    width: 60px;
    height: 24px;
    background: #F4F6F8;
    border-radius: 2px;
    margin-right: 7px;
}

.desktop-has-content .has-content-row-3 {
    /* width: 530px; */
    height: 129px;
    margin-top: 30px;
    background: #F4F6F8;
    border-radius: 2px;
}

.desktop-has-content .has-content-row-4 {
    width: 164px;
    height: 33px;
    margin-top: 30px;
    background: #F4F6F8;
    border-radius: 2px;
}

.desktop-has-content .has-content-row-5 {
    width: 329px;
    height: 24px;
    margin-top: 12px;
    background: #F4F6F8;
    border-radius: 2px;
}

.desktop-has-content .has-content-row-6 {
    /* width: 530px; */
    height: 158px;
    margin-top: 20px;
    background: #F4F6F8;
    border-radius: 2px;
}

.desktop-has-content .has-content-row-7 {
    width: 164px;
    height: 33px;
    margin-top: 30px;
    background: #F4F6F8;
    border-radius: 2px;
}

.desktop-has-content .has-content-row-8 {
    width: 329px;
    height: 24px;
    margin-top: 12px;
    background: #F4F6F8;
    border-radius: 2px;
}

.desktop-has-content .has-content-row-9 {
    /* width: 530px; */
    height: 61px;
    margin-top: 22px;
    background: #F4F6F8;
    border-radius: 2px;
}

.desktop-has-content .has-content-row-10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.desktop-has-content .has-content-row-10 div {
    background: #F4F6F8;
    border-radius: 2px;
}

.has-content-row-10-c-1 {
    width: 164px;
    height: 33px;
}

.has-content-row-10-c-2 {
    width: 164px;
    height: 67px;
}

/* RIGHT CONTAINER HAS PRODUCT */

.desktop-has-content .right-containers {
    padding: 24px 46px 0 30px;
}

.desktop-has-content .right-container-content-2 {
    padding-top: 9px;
}

/*  PRODUCT RENDER  */

.product-container {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%
}

.product-container-col-1 {
    display: flex;
    flex-direction: row;
}

.product-container-col-1 .col-1-logo {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 65px;
}

.product-container-col-1 .col-1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
}

.col-1-content .product-name {
    font-size: 14px;
    line-height: 17px;
    color: #212B36;
    font-weight: 600;
}

.col-1-content .product-variant {
    font-size: 11px;
    line-height: 13px;
    margin-top: 3px;
    color: #717171;
}

.product-price {
    font-size: 14px;
    line-height: 17px;
    color: #212B36;
    font-weight: 600;
}

.product-logo-container {
    position: relative;
    width: 64px;
    height: 65px;
}

.product-quantity {
    position: absolute;
    left: 51px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background: rgba(108, 108, 108, 0.9);
    border-radius: 50%;
}

.loader-container {
    position: absolute;
    z-index: 10;
    width: 10000px;
    height: 10000px;
    background: #F4F6F8;
    display: none;
}


.loader {
    background: #F4F6F8;
    position: absolute;
    text-align: center;

    top: calc(50vh - (59px / 2));
    left: calc(50vw - (57px / 2));
    border: 3px solid #F4F6F8;
    border-radius: 50%;
    border-top: 3px solid #2dc3c2;
    border-left: 3px solid #2dc3c2;
    border-bottom: 3px solid #2dc3c2;
    width: 58px;
    height: 58px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
