.SpecialOfferCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  .new-label{
    background: linear-gradient(79.73deg, #FFB801 1.14%, #FFA901 98.86%);
    border-radius: 2px;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 3px 5px; 
  }
  .title{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0CEED3;
    margin-top: 17px;
    text-align: center;
  }
  .logo{
    margin-top: 17px;
  }
  h1{
    font-size: 20px !important;
    line-height: 24px;
    color: #212B36;
    margin-top: 20px;
    text-align: center;
  }
  p{
    font-size: 14px;
    line-height: 17px;
    color: #212B36;
    margin-top: 12px;
    text-align: center;
    padding: 0 16px;
  }
  a{
    margin-top: 16px;
  }
}