.ToggleSwitch{
  .react-switch-handle{
    background: #F9FAFB !important;
    border: 1px solid #DFE3E8 !important;
    box-shadow: none !important;
  }
  .react-switch-bg{
    border: 1px solid #E3E7EB;
  }
}