@import url('https://fonts.googleapis.com/css?family=Acme|Bitter|Josefin+Slab|Lato|Montserrat|Noto+Sans|Open+Sans|Pacifico|Raleway|Roboto|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo|Asap|Barlow|Cabin|Catamaran|Didact+Gothic|Fjalla+One|Fredoka+One|Hammersmith+One|Josefin+Sans|Kalam|Lexend+Zetta|Lora|Manjari|Mansalva|Neuton|Notable|Oswald|Overpass|Ultra|Vidaloka|Vollkorn&display=swap');

.Font-Lato{
  font-family: 'Lato', sans-serif;
}

.Font-Arial{
  font-family: 'Arial', sans-serif;
}

.Font-Roboto{
  font-family: 'Roboto', sans-serif;
}

.Font-Raleway{
  font-family: 'Raleway', sans-serif;
}

.Font-Josefin_Slab{
  font-family: 'Josefin Slab', sans-serif;
}

.Font-Open_Sans{
  font-family: 'Open Sans', sans-serif;
}

.Font-Montserrat{
  font-family: 'Montserrat', sans-serif;
}

.Font-Ubuntu{
  font-family: 'Ubuntu', sans-serif;
}

.Font-Bitter{
  font-family: 'Bitter', sans-serif;
}

.Font-Pacifico{
  font-family: 'Pacifico', sans-serif;
}

.Font-Noto_Sans{
  font-family: 'Noto Sans', sans-serif;
}

.Font-Acme{
  font-family: 'Acme', sans-serif;
}

.Font-Archivo{
  font-family: 'Archivo', sans-serif;
}

.Font-Asap{
  font-family: 'Asap', sans-serif;
}

.Font-Barlow{
  font-family: 'Barlow', sans-serif;
}

.Font-Cabin{
  font-family: 'Cabin', sans-serif;
}

.Font-Catamaran{
  font-family: 'Catamaran', sans-serif;
}

.Font-Didact{
  font-family: 'Didact Gothic', sans-serif;
}

.Font-Fjalla{
  font-family: 'Fjalla One', sans-serif;
}

.Font-Fredoka{
  font-family: 'Fredoka One', sans-serif;
}

.Font-Hammersmith{
  font-family: 'Hammersmith One', sans-serif;
}

.Font-Josefin{
  font-family: 'Josefin Sans', sans-serif;
}

.Font-Kalam{
  font-family: 'Kalam', sans-serif;
}

.Font-Lora{
  font-family: 'Lora', sans-serif;
}

.Font-Manjari{
  font-family: 'Manjari', sans-serif;
}

.Font-Mansalva{
  font-family: 'Mansalva', sans-serif;
}

.Font-Notable{
  font-family: 'Notable', sans-serif;
}

.Font-Oswald{
  font-family: 'Oswald', sans-serif;
}

.Font-Overpass{
  font-family: 'Overpass', sans-serif;
}

.Font-Neuton{
  font-family: 'Neuton', sans-serif;
}

.Font-Ultra{
  font-family: 'Ultra', sans-serif;
}

.Font-Vidaloka{
  font-family: 'Vidaloka', sans-serif;
}

.Font-Vollkorn{
  font-family: 'Vollkorn', sans-serif;
}

.Font-Lexend{
  font-family: 'Lexend', sans-serif;
}