@font-face {
  font-family: 'SF Pro Display';
  src: url('SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
      url('SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('SFProDisplay-Regular.woff2') format('woff2'),
      url('SFProDisplay-Regular.woff') format('woff'),
      url('SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}